<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Boberick the llama</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div id="container">
            <p id="content"> I have a fixed width so you can only see me and the body if your monitor has enough pixels. Otherwise you will just see me, the container</p>
        </div>
    </body>
</html>