<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Boberick the llama</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <section id="landingPage">
            <div id="onboardingBackground">
                <img id="hamburgerMenu" src="/images/hamburgerMenu.png">
                <div id="date">January 12, 2020</div>
                <div id="greetingMessage">Hi, Nicole. <br><br>How was your day?</div>
                <button type="button" id="recordAudioButton" onclick="hideShow('landingPage', 'audioRecordingPage');">Record Audio</button>
                <button type="button" id="writeEntryButton">Write Entry</button>
            </div>
        </section>
        <section id="audioRecordingPage">
            <div id="onboardingBackground">
                <input id="minimizeButton" type="image" src="/images/minimizeButton.png" class="btTxt submit" onclick="hideShow('audioRecordingPage', 'landingPage');"/>
                <div id="audioRecordingMessage">Audio Recording</div>
            </div>
        </section>

        <script type="text/javascript">
            function hideShow(hidePage, showPage) {
                document.getElementById(hidePage).style.display="none";
                document.getElementById(showPage).style.display="block";
            }
         </script>
    </body>
</html>